/* fonts */
@font-face {
    font-family: Poppins Regular;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Roboto Regular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: normal;
}

/* root */
:root{
    --black : #252525;
    --white : #f2f2f2;
    --yellow : #ffbe0b;
    --orange : #fb5607;
    --pink : #ff006e;
    --purple : #8338ec;
    --blue : #3a86ff;
    --blue2 : #473aff;
    --cian : #4cc9f0;
    --h1 : 40pt;
    --h2 : 32pt;
    --h3 : 26pt;
    --h4 : 22pt;
    --h5 : 20pt;
    --p1 : 14pt;
    --p2 : 12pt;
}

*{
    padding: 0%;
    margin: 0%;
    font-family: Roboto Regular;
    color: var(--black);
    font-size: var(--p1);
}

/* page elements */
body{
    transition: 1s;
    box-sizing: border-box;
}

section{
    width: 100%;
    height: 30rem;
    display: flex;
    margin: 0 0 1rem 0;
}

aside{
    width: 50%;
    box-sizing: border-box;
    padding: 1rem;
    display: flex; 
}

p{
    margin: 0.2rem;
}

/* themes */
.darkTheme{
    background-color: var(--black);
    color: var(--white);
}
.whiteTheme{
    background-color: var(--white);
    color: var(--black);
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    color: var(--blue);
    text-align: center;
}

h1{
    font-size: var(--h1);
}

h2{
    font-size: var(--h2);
}

h3{
    font-size: var(--h3);
}

h4{
    font-size: var(--h4);
    margin: 1rem;
}

h5{
    font-size: var(--h5);
}

/* links */
a{
    text-decoration: none;
    color: var(--purple);  
}

/* class */
/* flexbox class */
.middleCenter{
    justify-content: center;
    align-items: center;
}

.colummAlign{
    flex-direction: column;
}

.spaceBetweenX{
    justify-content: space-between;
    align-items: center;
}

.spaceBetweenY{
    justify-content: center;
    align-items: space-between;
}
/* image class */
.imagesX{
    width: 100%;
}

.imagesY{
    height: 100%;
}

.backGroundImageTop{
    background-position: top;
    background-repeat: no-repeat;
}

.grayScale{
    filter: grayScale(100%);
}

/* icons class */
.navIcon{
    width: 2rem;
    margin: 2rem;
    animation-duration: 2s!important;
    animation-iteration-count: infinite!important;
}

