/* intro */

#intro{
    height: 100vh;
    background-color: var(--blue2);
}

#introTitle h1, #introTitle h3{
    color: var(--white);
}

#introImage{
    height: 100%;
}

#introImage img{
    height: 80%;
}

/* aboutMe */

#aboutMeImgPhoto{
    border-radius: 100%;
    border: 0.5rem solid var(--purple);
}