/* intro */

#intro{
    height: 100vh;
    background-color: var(--blue);
}

#introTitle h1, #introTitle h3{
    color: var(--white);
}

#introImage{
    height: 100%;
}

#introImage img{
    height: 80%;
}

/* aboutMe */

#aboutMeImgPhoto{
    height: 30rem;
    border: 0.5rem solid var(--purple);
}

/* experience */
#experience{
    height: auto;
}

#experienceTopicsGroup{
    display: flex;
}

.experienceTopic{
    width: 85%;
    height: 20rem;
    display: flex;
    background-color: var(--purple);
    border-radius: 2rem;
}

.experiencePhoto{
    height: 100%;
}

.experienceTitle{
    background-color: var(--pink);
    margin: 1rem 0rem;
}


/* projects */
.projectsItem{
    width: 10rem;
    border: 0.2rem solid var(--black);
}

/* contact */
#contact{
    background-color: var(--black);
}

.socialMediaItem, .toolItem{
    display: flex;
    gap: 0.2rem;
}
